
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 8px;
}

.nav-button {
  margin: 0 8px;
  background-color: white !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

.nav-button:hover {
  transform: scale(1.1);
}

.back-button {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
}
