.edit-product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.edit-product-card {
  width: 80%;
  padding: 20px;
  background-color: var(--mat-sys-surface-container);
}

.image-section {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15px;
}

.product-image {
  width: 250px;
  height: auto;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: var(--mat-sys-level2);
}

.edit-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
  padding: 15px;

}


.form-section {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.product-fields {
  display: grid;
  justify-content: space-between;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

}

.column {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.nutrition-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}
